# dependencies
node_modules/
.pnp
.pnp.js

# next / build
.next/
out/
build/
dist/
*.tsbuildinfo

# env
.env
.env*.local
!.env.example

# prisma
prisma/*.db
prisma/*.db-journal

# ide / os
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# firmware
firmware/.pio/
firmware/.vscode/
firmware/**/secrets.h
*.elf
*.bin

# stellar / contracts
contracts/target/
**/*.wasm

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
