## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. This is only used by Gradle.
# Copy to local.properties and set your path, e.g.:
# sdk.dir=C\:\\Users\\YOU\\AppData\\Local\\Android\\Sdk
sdk.dir=/path/to/Android/sdk
